<main>
  <h2>Contactos</h2>

  <table>
    <tr>
      <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Fecha Creación</th>
        <th></th>
      </thead>
      <tbody>
        @for(contact of contacts; track contact.id){
        <tr>
          <td>{{ contact.id }}</td>
          <td>{{ contact.name }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.phone }}</td>
          <td>{{ contact.createdAt | date : "dd/MM/yyy a" }}</td>
          <td class="btn-group">
            <button class="edit" [routerLink]="[contact.id, 'edit']">
              Editar
            </button>
            <button class="delete" (click)="deleteContact(contact)">
              Eliminar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </tr>
  </table>

  <div class="buttons">
    <button routerLink="/new">Nuevo Contacto</button>
  </div>
</main>
